@use '../variables'
@use '../mixins'

.projects-grid
    margin-top: 1rem

    img
        transition: .1s 
        cursor: pointer
        border-radius: 1rem 
        width: 100%
        //transform: translateX(-800px)

        &:hover
            opacity: 0.5  // Alterando a opacidade como exemplo

   


